<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <title>Anne Trent Photography</title>
  <meta http-equiv="imagetoolbar" content="no" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!--[if IE ]>
 		<meta http-equiv="x-ua-compatible" content="edge" />
 	<![endif]-->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link href="/css/styles.css" rel="stylesheet" />
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src="/js/vendor/modernizr.custom.js"></script>
  <script type="text/javascript" src="/js/require-jquery.js" data-main="/js/photo/main"></script>
</head>
<body>

  <script type="text/template" id="album-li">
    <a href="#" class="trans-fast"><%- title %></a>
  </script>

  <script type="text/template" id="photo-display">
    <img class="disp-photo" src="<%- url %>" data-height="<%- height %>" data-width="<%- width %>" />
  </script>
  
  <div id="display" role="navigation" class="trans-slow is-hidden">
    <a href="javascript:void(0);" class="trans-fast arrow left">Back</a>
    <a href="javascript:void(0);" class="trans-fast arrow right">Forward</a>
  </div>
  <div id="sidebar" class="trans-slow">
    <div id="list">Toggle List</div>
    <h1 id="title"><img src="/img/logo.png" alt="Anne Trent Photo" role="banner" id="albums-tgl" /></h1>
    <ul id="albums" role="navigation">
      <li class="contact">
        <a href="tel:208-557-1848"><img src="/img/leaf.png" />&nbsp;(208) 557-1848</a>
      </li>
      <li class="contact">
        <a href="mailto:anne.trent.photo@gmail.com">anne.trent.photo@gmail.com</a>
      </li>
    </ul>
  </div>
  <article id="contact" class="trans-slow">
    <header>
      <h1>Anne Trent Photography</h1>
    </header>
    <p>
      Photography captures the beauty of this world and the people in it.  It helps us remember the
      fantastic creations that are inspiring to behold.  It allows us to relive the special moments of our past.
      I love photography.
    </p>
    <p>I currently serve the Idaho Falls, Idaho area as a resident photographer.</p>
    <img src="/img/leaf.png" />&nbsp;<a href="tel:208-557-1848">(208) 557-1848</a>
    <a href="mailto:anne.trent.photo@gmail.com">anne.trent.photo@gmail.com</a>
  </article>
</body>
</html>