html, body {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background: #070707 url(../img/bg.png);
  color: #fff;
  overflow: hidden;
  font-family: arial, helveticaneue-light, helvetica, sans-serif;
}
article, header, footer, nav {
  display: block;
}
a {
  color: #fff;
  text-decoration: none;
}
#title {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 5;
}
#albums {
  position: absolute;
  top: 320px;
  left: 0;
  z-index: 5;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-position: inside;
}
#albums li {
  display: block;
  text-align: right;
  background: orange;
  width: 250px;
  margin: 10px 0;
}
#albums li a {
  display: block;
  padding: 10px 30px;
  width: 190px;
}
#contact {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 5;
  background: orange;
  padding: 30px 20px;
  width: 190px;
}
#contact h1 {
  margin-top: 0;
}
#display {/*
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;*/
}
.disp-photo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.arrow {
  position: absolute;
  top: 500px;
  display: block;
  height: 50px;
  width: 150px;
  background: orange;
  z-index: 4;
}
.left {
  left: 0;
}
.right {
  right: 0;
}