html, body {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background: #070707;
  color: #fff;
  overflow: hidden;
  font-family: arial, helveticaneue-light, helvetica, sans-serif;
}
article, header, footer, nav {
  display: block;
}
a {
  color: #fff;
  text-decoration: none;
}
#albums {
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-position: inside;
}
#albums li {
  display: block;
  text-align: right;
  background: orange;
  width: 250px;
  margin: 10px 0;
}
#albums li a {
  display: block;
  padding: 10px 30px;
  width: 190px;
}
#contact {
  position: absolute;
  top: 10px;
  right: 0;
  background: orange;
  padding: 30px 20px;
  width: 190px;
}
#contact h1 {
  margin-top: 0;
}