html, body {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background: #070707 url(../img/bg.png);
  color: #fff;
  overflow: hidden;
  font-family: arial, helveticaneue-light, helvetica, sans-serif;
}
article, header, footer, nav {
  display: block;
}
a {
  color: #fff;
  text-decoration: none;
}
#sidebar {
  top: 0;
  left: 0;
  z-index: 5;
  width: 341px;
  position: absolute;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
#sidebar.is-hidden {
  left: -252px;
}
#title {
  padding: 33px 0 0 50px;
  cursor: pointer;
}
#albums {
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-position: inside;
}
#albums li {
  display: none;
  text-align: right;
  margin: 10px 0;
}
#albums li a {
  display: block;
  padding: 10px 30px;
  width: 190px;
  background: rgb(102, 102, 102);
  background: rgba(102, 102, 102, .5);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: 0 25px 25px 0;
}
#albums li a:hover {
  width: 215px;
  background: #f7d200; /* Old browsers */
  background: -moz-linear-gradient(top, #f7d200 0%, #fcb415 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7d200), color-stop(100%,#fcb415)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7d200 0%,#fcb415 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7d200 0%,#fcb415 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7d200 0%,#fcb415 100%); /* IE10+ */
  background: linear-gradient(top, #f7d200 0%,#fcb415 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7d200', endColorstr='#fcb415',GradientType=0 ); /* IE6-9 */
}
#contact {
  position: absolute;
  top: 33px;
  right: 0;
  z-index: 5;
  background: rgb(102, 102, 102);
  background: rgba(102, 102, 102, .5);
  padding: 30px 20px;
  width: 190px;
  border-radius: 25px 0 0 25px;
}
#contact h1 {
  margin-top: 0;
}
.disp-photo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.arrow {
  position: absolute;
  top: 500px;
  display: none;
  height: 76px;
  width: 34px;
  text-indent: -999em;
  overflow: hidden;
  z-index: 4;
}
.left {
  left: 0;
  background: url(../img/left.png);
}
.right {
  right: 0;
  background: url(../img/right.png);
}